In [1]:
import pandas as pd

In [3]:
l=[x for x in range(5)]

In [6]:
s=pd.Series(l)

In [7]:
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [8]:
s[3]

3

In [9]:
s=pd.Series(l,index=['a','b','c','d','e'])

In [10]:
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [11]:
s['e']

4

In [14]:
s=pd.Series(l,index=['a','b','c','d','d'])

In [15]:
s['d']

d    3
d    4
dtype: int64

In [16]:
data={'a':1,'b':2,'c':3,'d':4,'e':5}

In [17]:
s=pd.Series(data)

In [18]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
s=pd.Series(data,index=['a','b'])

In [21]:
s

a    1
b    2
dtype: int64

In [22]:
s=pd.Series(data,index=['a','b','f'])

In [23]:
s

a    1.0
b    2.0
f    NaN
dtype: float64

In [24]:
a=pd.Series([x for x in range(1,11)])

In [25]:
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [27]:
a.iloc[0]

1

In [28]:
a.iloc[5]

6

In [30]:
a.iat[0]

1

In [31]:
a.iat[8]

9

In [33]:
a[5:9]

5    6
6    7
7    8
8    9
dtype: int64

In [35]:
a[-4:-1]

6    7
7    8
8    9
dtype: int64

In [44]:
#condition 

a.where(a%2==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [43]:
a.where(a%2==0,'Odd Number')

0    Odd Number
1             2
2    Odd Number
3             4
4    Odd Number
5             6
6    Odd Number
7             8
8    Odd Number
9            10
dtype: object

In [46]:
a.where(a%2==0,a**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [51]:
a.where(a%2==0,inplace=True)

In [52]:
a.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [53]:
a.fillna('Filled Value')

0    Filled Value
1             2.0
2    Filled Value
3             4.0
4    Filled Value
5             6.0
6    Filled Value
7             8.0
8    Filled Value
9            10.0
dtype: object

In [54]:
df=pd.DataFrame()

In [55]:
type(df)

pandas.core.frame.DataFrame